.ag-theme-alpine {
  --ag-header-background-color: #333F4F;
  --ag-header-foreground-color: white;

  --ag-cell-horizontal-border: solid 1px black;

  --ag-border-color: black;
  --ag-row-border-color: black;
  --ag-header-column-separator-color: black;
  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: 100%;
  --ag-header-column-separator-width: 1px;

  /*--ag-header-cell-hover-background-color: #ffbf00;*/

  --ag-header-column-resize-handle-display: block;
  --ag-header-column-resize-handle-height: 25%;
  --ag-header-column-resize-handle-width: 0px;
  --ag-header-column-resize-handle-color: white;
}

.ag-header .ag-icon {
  color: white;
}

.ag-header-group-cell-with-group[aria-expanded="true"] {
  background-color: #ffbf00 !important;
}

.ag-row-group.ag-row-level-0 {
  background-color: #ffbf00;
}

.ag-center-cols-container .ag-row.ag-row-level-0 .green {
  background-color: #A9D08E;
}

.ag-header-group-cell-with-group[col-id="3_0"] {
  background: #BDD7EE;
  color: black;
}

.ag-side-bar .ag-header :root {
  --ag-header-foreground-color: black;
}
